################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyBot/FileContentIndex/71f06895-6a8c-4678-9279-188898b4c263.vsidx
